*{outline: none !important;}

.headerMain .active {
    border-top: 2px solid #117A8B !important;
    margin-top: -2px !important;
}
.dActive{
    box-shadow: none !important;
    background: #0b4b55;
    border: 1px solid #00afaf;
}
#headerMenu .nav-item{
    margin-right: 20px !important;
    margin-left: 10px !important;
}
.footerMain{
    background-color: #141414;
}
#accordionExampleFor{
    height: 525px;
    overflow-x: hidden;
}
#coursesVideoList{
    padding: 0 !important;
}
.MuiButton-label{
    display: block !important;
}
.moduleBtn[aria-expanded="true"] svg{
    transform: rotate(180deg) !important;
}
.collapsed svg{
    transform: rotate(0) !important;
}
#accordionExample{
    height: 520px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}