@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    outline: none !important;
    text-decoration: none;
}

body {
    height: 100vh !important;
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.content {
    min-height: 100vh !important;
}

.ff-roboto {
    font-family: 'Roboto', sans-serif;
}
.button {
    font-size: 17px;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 35px;
    transition: all 0.4s;
}

.button-sm {
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 22px;
    transition: all 0.4s;
}

.button-red {
    border: none;
    color: #D6293E;
    background: #D6293E20;
}

.button-red:hover {
    color: #fff;
    background: #D6293E;
}

.button-blue {
    border: none;
    color: #0b5dd7;
    background: #0B5ED720;
}

.button-blue:hover {
    color: #fff;
    background: #0b5dd7;
}

.button-green {
    border: none;
    color: #45C881;
    background: #45C88120;
}

.button-green:hover {
    color: #fff;
    background: #45C881;
}

.button-yeallow {
    border: none;
    color: #FFC107;
    background: #FFC10720;
}

.button-yeallow:hover {
    color: #fff;
    background: #FFC107;
}

.button-green-outline {
    border: 1px solid #78d3a1;
    color: #45C881;
    background: #45C88120;
}

.button-green-outline:hover {
    border: 1px solid #45C881;
    color: #fff;
    background: #45C881;
}

.button-red-outline {
    border: 1px solid #ce636f;
    color: #fff;
    background: #D6293E35;
}

.button-red-outline:hover {
    border: 1px solid #D6293E;
    color: #fff;
    background: #D6293E;
}

/* header css */

.headerMain .active {
    border-top: 2px solid #117A8B !important;
    margin-top: -2px !important;
}

.dActive {
    box-shadow: none !important;
    background: #0b4b55;
    border: 1px solid #00afaf;
}

#headerMenu .nav-item {
    margin-right: 20px !important;
    margin-left: 10px !important;
}

.nav_dash_login_btn .btn {
    margin-top: 5px;
}

.footerMain {
    background-color: #141414;
}

#accordionExampleFor {
    height: 525px;
    overflow-x: hidden;
}

#coursesVideoList {
    padding: 0 !important;
}

.MuiButton-label {
    display: block !important;
}

.moduleBtn[aria-expanded="true"] svg {
    transform: rotate(180deg) !important;
}

.collapsed svg {
    transform: rotate(0) !important;
}

#accordionExample {
    height: 520px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.coursesLoader {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 36.4%;
}

.coursesLoaderImg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.contactUsOptions {
    width: 440px;
    margin: 0 auto;
}

.contactUsOptions a {
    margin-right: 10px;
}

/* cart style */

.dashCart {
    display: flex;
}

.cartItem {
    padding: 10px 15px !important;
    height: 175px !important;
}

.cartItem:hover {
    box-shadow: 0 0 0 0 !important;
}

.cartPdBody {
    display: flex;
    padding: 0 !important;
}

.carPdImg {
    width: 500px !important;
    padding-right: 10px;
    margin: 20px 0 !important;
}

.carPdImg img {
    width: 100% !important;
}

.cartItemCheck {
    width: 30px !important;
    height: 25px !important;
    margin-right: 10px !important;
    margin-top: 52px;
    cursor: pointer;
}

.carousel1 {
    display: block !important;
}

.carouselForMobile {
    width: 100%;
    display: none;
}

.carouselSection {
    margin-bottom: 60px;
    width: 47%;
    text-align: left !important;
}

.cartCancelBtn {
    padding: 0px !important;
    border-radius: 10px !important;
}

.courseVideoBtn {
    text-align: left !important;
}

.dashboardHeader a {
    cursor: pointer !important;
}

#paymentOptionList {
    height: 28px !important;
    font-size: 13px;
    margin-top: 10px;
    color: white;
}

body {
    position: relative;
}

/* Full page loader section */
.homePageLoader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: #fff;
}

.homeLoader {
    margin-top: 48vh !important;
}

/* Login page */








.owl-carousel div {
    width: 100px;
    height: 100px;
    background-color: green;
}