/*		Default Layout: 992px. 
            Gutters: 24px.
            Outer margins: 48px.
            Leftover space for scrollbars @1024px: 32px.
    -------------------------------------------------------------------------------
    cols    1     2      3      4      5      6      7      8      9      10
    px      68    160    252    344    436    528    620    712    804    896    */

/*		Tablet Layout: 768px.
            Gutters: 24px.
            Outer margins: 28px.
            Inherits styles from: Default Layout.
    -----------------------------------------------------------------
    cols    1     2      3      4      5      6      7      8
    px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carouselSection {
        margin-bottom: -40px;
    }
    .carouselSection .btn {
        margin-top: -70px !important;
    }
    .dashCart {
        display: inline-block;
    }
    .dashCart .col-3, .col-4{
        width: 100% !important;
    }
}

/*		Mobile Layout: 320px.
            Gutters: 24px.
            Outer margins: 34px.
            Inherits styles from: Default Layout.
    ---------------------------------------------
    cols    1     2      3
    px      68    160    252    */

@media only screen and (max-width: 767px) {
    /* .coursesOutlineAndVideoPage .row {
        display: block !important;
    }
    .coursesOutlineAndVideoPage .row .col-3 {
        max-width: 76% !important;
    }
    .coursesOutlineAndVideoPage .row .col-9 {
        max-width: 98% !important;
    }
    .coursesOutlineAndVideoPage .row>div {
        margin-top: 30px !important;
        margin: 0 auto;
        border: 1px solid #c7c7c7;
        background: #eaeaea;
        padding: 10px 15px;
        border-radius: 5px;
    }
    .coursesOutlineAndVideoPage .row>div #accordionExampleFor {
        width: 100% !important;
    } */
    .card {
        max-width: 100% !important;
    }
    #headerSearchInput:focus {
        max-width: 200px !important;
    }
    #navDashboard {
        font-size: 23px !important;
        padding: 8px 18px !important;
        margin: 10px 0 0 0 !important;
    }
    .carousel-inner {
        width: 100% !important;
        margin-left: 0% !important;
    }
    .carousel-caption {
        bottom: -20px !important;
        left: 2% !important;
    }
    .carouselForMobile {
        width: 100%;
        display: block !important;
    }
    .carousel1 {
        display: none !important;
    }
    .carouselSection {
        width: 98% !important;
        margin-bottom: 0px !important;
        width: 100% !important;
    }
    .carousel-caption h1, h2 {
        font-size: 20px !important;
    }
    .carousel-caption .btn {
        margin-top: -90px !important;
    }
    .navRight {
        display: inline !important;
    }
    .dashTabs {
        width: 100% !important;
        overflow-y: scroll !important;
    }
    nav-tabs {
        width: 450px !important;
    }
    /* courses content style */
    .html5Main .row {
        display: block !important;
    }
    .videoTFR {
        width: 75% !important;
        padding: 10px !important;
        border-radius: 4px !important;
        background-color: rgb(243, 243, 243) !important;
        border: 1px solid rgb(219, 219, 219);
        margin: 0 auto !important;
        margin-bottom: 10px !important;
    }
    .videoCFR {
        width: 98% !important;
        padding: 10px !important;
        border-radius: 4px !important;
        background-color: rgb(243, 243, 243) !important;
        border: 1px solid rgb(219, 219, 219);
        margin: 0 auto !important;
    }
    .homeLoader {
        margin-top: 30% !important;
    }
    .footerMain {
        height: 120px !important;
    }

    /* Course Contnt Page */
    .videoCFR{
        margin-bottom: 20px !important;
    }

    .videoTFR{
        width: 95% !important;
    }

    .coursesVideoMain > iframe {
        height: 300px !important;
    }

    .content-change-btn{
        display: none !important;
    }
}

/*		Wide Mobile Layout: 480px.
            Gutters: 24px.
            Outer margins: 22px.
            Inherits styles from: Default Layout, Mobile Layout.
    ------------------------------------------------------------
    cols    1     2      3      4      5
    px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {}

/*	Retina media query.
        Overrides styles for devices with a 
        device-pixel-ratio of 2+, such as iPhone 4.
    -----------------------------------------------    */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {}